<% if current_user %>

  <div>
    <hr/>
    <h3>Collections</h3>
    <%= form_for DILCollection.new do |f| %>
      <%= f.label "Create new collection:"%>
      <%= f.text_field :title %>
    <% end %>
    <br/>
    <!-- Each collection row is a JQuery UI droppable -->
    </div>
    <div id="imageCollection">
		<div>
		<ul class="accordion"> <!-- ui-widget-content -->
		 <% current_user.top_level_collections.each do |collection| %>
		  <li class="collection">
		    <h2 id="<%=collection['id']%>" pid="<%=collection['id']%>" title="<%=collection['title_t'].first%>" toggle="plus">
		    <% if collection["has_subcollection_s"].present? %>
		      <span>
		        <%= image_tag('listexpander/collapsed.gif', :alt => "Plus or Minus" ) %>
		      </span>
		      <% if collection["has_image_s"].present? %>
		        <a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a> (<%=collection['has_image_s'].size%>)
		      <% else %>
		        <a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a> (0)
		      <% end %>
		    <% else %>
		       <span>
		       </span>
		       <% if collection["has_image_s"].present? %>
		        <a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a> (<%=collection['has_image_s'].size%>)
		      <% else %>
		        <a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a> (0)
		      <% end %>
		    <% end %>
		  	</h2>
		      <div class="outer"><div class="inner"></div></div></li>
		<% end %>
		  </ul>
		</div>
    </div>
<% end %>

