<% if current_user %>

  <div>
    <hr/>
    <h3>Collections</h3>
    <%= form_for DILCollection.new do |f| %>
      <%= f.label "Create new collection:"%>
      <%= f.text_field :title %>
    <% end %>
    <br/>
    <!-- Each collection row is a JQuery UI droppable -->
    </div>
    <div id="detailCollection">
     <% current_user.get_details_collection.each do |collection| %>
        <div class="ui-widget-content">
          <ul> 
            <li><a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div id="imageCollection">
      <% current_user.collections.each do |collection| %>
		<% if(DILCollection.find(collection["id"]).RELS_EXT.to_rels_ext.exclude? "fedora-relations-model:isMemberOf") %>
        <div class="ui-widget-content">
          <ul> 
            <li id="<%=collection['id']%>" class="collection"><a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a></li>
          </ul>
        </div>
		<% end %>
      <% end %>
    </div>
  </div>
<% end %>

