<% if current_user %>

  <div>
    <hr/>
    <h3>Collections</h3>
    <%= form_for DILCollection.new do |f| %>
      <%= f.label "Create new collection:"%>
      <%= f.text_field :title %>
    <% end %>
    <br/>
    <!-- Each collection row is a JQuery UI droppable -->
    </div>
    <div id="imageCollection">
		<div class="ui-widget-content">
			<ul class="accordion">
		<% current_user.top_level_collections.each do |collection| %>
					<li pid="<%=collection['id']%>" title="<%=collection['title_t'].first%>" class="collection"><h2 id="<%=collection['id']%>" toggle="plus"><%= image_tag('listexpander/collapsed.gif', :alt => "Plus or Minus" ) %></h2><div><a href="/dil_collections/<%=collection['id']%>"><%=collection['title_t'].first%></a></div></li>
		<% end %>
		  </ul>
		</div>
    </div>
<% end %>

