		<div class="gallery_container" id="<%= params[:id] %>">
		
		<% @collection.members.find_by_terms(:mods).each_with_index do |mods, index| %>
			<% unless mods.search('relatedItem/identifier').empty? %>
				<%	pid = mods.search('relatedItem/identifier').first.text() %>
				<div class="listing">
          <table>
            <tr>
            <td><a href="<%= catalog_path(pid) %>"><img src="<%= DIL_CONFIG['dil_app_url']%>multiresimages/get_image/<%= pid%>/150"/></a>
            <a href="/dil_collections/remove/<%= @collection.pid %>/<%= pid %>"><img src="/assets/remove.gif" class="member-remove"/></a></td>
            
            </tr>
            <% unless mods.search('titleInfo/title').empty? %>
              <%	title = mods.search('titleInfo/title').first.text() %>
              <tr>
              <td><%= link_to(title, catalog_path(pid)) %></td>
              </tr>
            <% end %>
          </table>
				</div>
		 	<% end %>
		 <% end %>
		 </div>
	 <%# end %>


