	<div id="gallery_container" class="gallery_container" pid="<%= params[:id] %>">
		<% @collection.members.find_by_terms(:mods).each_with_index do |mods, index| %>
			<%
				pid = '' 
				title = ''
				img = ''
				ref = ''
				type = ''

				pid = mods.search('relatedItem/identifier').first.text() unless mods.search('relatedItem/identifier').empty?
				title = mods.search('titleInfo/title').first.text() unless mods.search('titleInfo/title').empty?
				document = SolrDocument.new ActiveFedora::Base.find(pid, :cast=>true).to_solr
				if !mods.search('type').text.present? || mods.search('type').text=='image'
					img = "#{DIL_CONFIG['dil_app_url']}multiresimages/get_image/#{pid}/150"
					ref = '/dil_collections/' + @collection.pid + '/' + pid
					type = 'image'
				elsif mods.search('type').text == 'collection'
					img = '/assets/folder.jpg'
					ref = '/dil_collections/' + pid
					type = 'collection'
				end
			%>
			<div id="images" class="listing-collection" pid="<%=pid%>" title="<%=title%>">
				<ul>
					<li pid="<%=pid%>" title="<%=title%>">
						<a href="<%=ref%>"><img src="<%=img%>"/></a>
						<a href="/dil_collections/remove/<%= @collection.pid %>/<%= pid %>" class="member-remove">&#x2715;</a>
				</ul>
				<a href="<%=ref%>">
					<%= title.nil?  ? pid : title.truncate(50) %>
				</a>
				<% uploads_collection = current_user.get_uploads_collection %>
				<% if uploads_collection.first.present? and uploads_collection.first["id"] == @collection.id %>
			  	  <%= batch_edit_select(document) %>
				<% end %>
		</div>

		<%#= batch_edit_select(type == 'image' ? Multiresimage.find(pid) : DILCollection.find(pid)) %>
		<% end %>
	</div>
