<% if params[:files] %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#accordion").accordion({active: 2});
    });
  </script>
<% end %>
<% stylesheet_links << "../plugin_assets/hydra_repository/javascripts/date-picker/css/datepicker" %>
<% javascript_includes << infusion_javascripts(:default_no_jquery, :extras=>[:inline_editor_integrations], :debug=>true, :render_html=>false) %>
<% javascript_includes << ["jquery.jeditable.mini.js", "date-picker/js/datepicker", "jquery.form.js", 'custom', "catalog/edit", "jquery.hydraMetadata.js", "jquery.notice.js", {:plugin=>:hydra_repository}] %>
<% javascript_includes << "/plugin_assets/fluid-infusion/infusion/components/undo/js/Undo.js" %>

<%# For DatePicker> %>
<%- javascript_includes << ["jquery.ui.widget.js","jquery.ui.datepicker.js", "mediashelf.datepicker.js", {:plugin=>:hydra_repository }] %>

<%# For Fancybox> %>
<% javascript_includes << ["fancybox/jquery.fancybox-1.3.1.pack.js", {:plugin=>:hydra_repository}] %>
<% stylesheet_links << "../plugin_assets/hydra_repository/javascripts/fancybox/jquery.fancybox-1.3.1.css" %>

<%# For slider controls %>
<% javascript_includes << ["select_to_ui_slider/selectToUISlider.jQuery.js", {:plugin=>:hydra_repository}] %>
<% stylesheet_links << ["../plugin_assets/hydra_repository/javascripts/select_to_ui_slider/css/ui.slider.extras.css"] %>
<% stylesheet_links << ["slider", {:plugin=>:hydra_repository}] %>

<% stylesheet_links << "/plugin_assets/hydrangea_collections/stylesheets/dil.css" %>

<% extra_head_content << capture do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(document).catalogEdit();
    });
  </script>

<script language="javascript">
	start_index='';
	$(document).ready(function(){
		$('.gallery_container').sortable({
			start: function(event, ui) {
				start_index=$(this).children().index(ui.item)
			}
		});
		$('.gallery_container').sortable({
			update: function(event, ui) {
				var fruitOrder = $(this).sortable('toArray').toString();
				var collection_id= $(this).attr('id');
				// Note: ui.item.attr('id') is id of dragged item 
				var url='/collections/move/' + collection_id + '/' + start_index + '/' + $(this).children().index(ui.item);
				$.get('update-sort.cfm', {fruitOrder:fruitOrder});

				$.ajax({
				type: "POST",
				url: url,
				async: false,
				success: function(msg){
				}
				});//end ajax
			}
		});
	});
</script>
<% end %>

<div class="document_viewer" id="cover_container">
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <img src="/images/ajax-loader.gif" width="32" height="32" alt="Saving...">
      </img>
    </div>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

<!--	<form action="<%= url_for(:action=>'update', :controller=>'assets', :content_type=>'hydrangea_collection')%>" method="post" data-resourceType="hydrangea_collection" accept-charset="utf-8">
	<h1><%#= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false) %></h1>
	</form>
	-->
  <div id="accordion"  style="height:600px;">

	<% unless get_values_from_datastream(@document_fedora,"members", [:mods]).first.empty? %>
		<h2 class="section-title"><a href="#">Collection</a></h2>
		<%= render :partial => 'hydrangea_collections/edit_members' %>
	<% end %>
	
    <h2 class="section-title"><a href="#">Description</a></h2>
    <%= render :partial => 'hydrangea_collections/edit_description' %>
    <h2 class="section-title"><a href="#">Set permissions</a></h2>
    <div id="permissions">
      <%= render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id]} %>
    </div>

  </div>
  
  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>
  <%= delete_asset_link(params[:id], "collection") %>
<% end %>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
