<tr class="document" class="<%= cycle("even","odd") %>">
  <td>
	<a href="/dil_collections/<%=document[:title_t]%>"><%=document[:id]%></a>
  </td>
  <td>
    <% creator = get_person_from_role(document, "Creator") %>
    <%= [creator[:last], creator[:first]].join(", ") unless creator.nil? %>
  </td>
  <td>
    <%#= format_date(DateTime.parse(document[:system_create_dt].to_time) %>
	<%#= "by #{ document[:depositor_t] }" unless document[:depositor_t].blank? %> 
  </td>
  <td>
    <%= (document[:medium_t] || document_type(document)).gsub("Hydrangea","") %>
  </td>
  <td>
	  <%= get_file_asset_count(document) %>
  </td>
</tr>