	<% unless @collection.nil? %>
		<div class="gallery_container">
		<% @collection.datastreams["members"].find_by_terms(:mods).each do |mods| %>
			<% unless mods.search('relatedItem/identifier').empty? %>
				<%	pid = mods.search('relatedItem/identifier').first.text() %>
				<div class="listing-collection">
				<table>
				<tr valign="center">
				<td>
				<% if !mods.search('type').text.present? || mods.search('type').text=='image'%>
				  <a href="/dil_collections/<%=@collection.pid%>/<%=pid%>""><img src="<%= DIL_CONFIG['dil_app_url']%>multiresimages/get_image/<%= pid%>/120"/></a></td>
				<% elsif mods.search('type').text=='collection' %>
				  <a href="/dil_collections/<%=pid%>"><img src="/assets/folder.jpg" width="102px" height="102px"/></a>
				<% end %>
				</tr>
				<% unless mods.search('titleInfo/title').empty? %>
					<%	title = mods.search('titleInfo/title').first.text() %>
					<tr>
					<% if !mods.search('type').text.present? || mods.search('type').text=='image'%>
				      <td><font size="-2"><a href="/dil_collections/<%=@collection.pid%>/<%=pid%>"><%=title%></a></font></td>
				    <% elsif mods.search('type').text=='collection' %>
				      <td><font size="-2"><a href="/dil_collections/<%=pid%>"><%=title%></a></font></td>
	                <% end %>
					</tr>
				<% end %>
				</table>
				</div>
		 	<% end %>
		 <% end %>
		 </div>
	 <% end %>
<!--    </dl> 
  </fieldset>
</form> -->
