<% sidebar_items << capture do %>
  <%= render :partial=>'parent_collections' %>
  <%= render :partial=>'dil_collections/add' %>
<% end %>

<div id="accordion">
    <% uploads_collection = current_user.get_uploads_collection %>
	<% if uploads_collection.first.present? and uploads_collection.first["id"] == @collection.id %>
	  <%= batch_edit_tools %>
	  <%= batch_edit_continue %>
	<% end %>
  <span class="edit-browse">
    <%= link_to "Delete", dil_collection_path(@collection), :method=>:delete, :confirm=>"Delete this group?" %> <% if @collection.members %>| <%= link_to "Export to PowerPoint", url_options = {:controller=>"dil_collections", :action=> "export", :id=> @collection}, :method=>:post %><% end %>
  </span>
    
  <% if @collection.members %>
      
   <h2 class="section-title"><%=@collection.datastreams["descMetadata"].find_by_terms(:title).text()%></h2>
     <%= render :partial => 'dil_collections/edit_members' %>
   <% end %>
</div>

<div class="modal-collection"></div>
  <!--Description, permissions-->
