
  <div id="accordion">
  <!--  <a href="/catalog?f[object_type_facet][]=DILCollection&display_type=grid">← Return to Collections</a>-->
    <span class="edit-browse">
      <a href="/dil_collections/<%=@collection.id%>">Browse</a> | Edit | <%= link_to "Delete", dil_collection_path(@collection), :method=>:delete, :confirm=>"Delete this group?" %></a>
    </span>
    
    <% if @collection.members %>
      <p/>
      <%= form_for @collection, :url => { :action => "export" } , :method => "post" do |f| %>
        <%= f.submit "Export to PowerPoint" %>
      <% end %>
      <h2 class="section-title"><%=@collection.datastreams["descMetadata"].find_by_terms(:title).text()%></h2>
      <%= render :partial => 'dil_collections/edit_members' %>
    <% end %>
  </div>
  
  <p>
  </p>
  
  
  <!--Description, permissions-->
