
  <div id="accordion">
  <!--  <a href="/catalog?f[object_type_facet][]=DILCollection&display_type=grid">← Return to Collections</a>-->
    <span class="edit-browse">
      <a href="/dil_collections/<%=@collection.id%>">Browse</a> | Edit | <%= link_to "Delete", dil_collection_path(@collection), :method=>:delete, :confirm=>"Delete this group?" %></a>
    </span>
    
    <% if @collection.members %>
      <p/>
      <%= form_for @collection, :url => { :action => "export" } , :method => "post" do |f| %>
        <%= f.submit "Export to PowerPoint" %>
      <% end %>
      <h2 class="section-title"><%=@collection.datastreams["descMetadata"].find_by_terms(:title).text()%></h2>
      <%= render :partial => 'dil_collections/edit_members' %>
    <% end %>
  </div>
  
  <p>
  </p>
  
  
  <!--Description, permissions-->

<!--    <%#= form_for @collection do |f| %>
      <div class="control-group-collection">
        <%#= f.label :title, :class=>"control-label" %>
        <div class="controls">
          <%#= f.text_field :title, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group-collection"> <%= f.label :read_groups, :class=>"control-label" %>
        <div class="controls">
          <%#= f.select :read_groups, current_user.owned_groups.map{|x| [x.name, x.code]}, {}, :multiple=>true %>
        </div>
      </div>
      
      <div class="form-actions">
        <%#= f.submit "Save changes", :class=>'btn btn-primary'%>
      </div>
    <%# end %>
   
  </div>-->
