
			<input type="hidden" id="image" name="id" value="<%=@multiresimage.pid%>">
			<table class="clear desc-metadata-table">
			   <tbody>

					  <%# Display sets for work and image %>
					  <% vraSetArray.each.with_index do |setName, index| %>
					    <%# Get the preferred work's set value from the VRA datastream.  Using to_sym to covert Strings into Symbols %>

					    <%# Added a check for alternate title because it utilizes the same set as title_display %>
					    <% if(setName == "title_alt") %>
								<% image_display_value = @multiresimage.VRA.find_by_terms(:image, ("titleSet").to_sym, (setName + "Set_display").to_sym).to_a.join( ' ; ' ) %>
							<% else %>
								<% image_display_value = @multiresimage.VRA.find_by_terms(:image, (setName + "Set").to_sym, (setName + "Set_display").to_sym).text %>
					    <% end %>

					    <%# image_display_value = @multiresimage.send((setName + "Set_display").to_sym) %>
						  <%# unless pref_work_display_value.empty? %>
							 <tr class="<%= cycle("even", "odd") %>">
								 <td class="field"><%=vraSetNameArray[index].capitalize%>:</td>
								 <td style="FONT-FAMILY: Verdana" width="100%" bgColor="#cccccc" height="30">

					               <%= image_display_value %>

								 </td>
							  </tr>
						  <%#end%>
					  <% end %>

					  <%# Include its identifier (pid) %>
					  <tr class="odd">
						 <td class="field">Identifier:</td>
						 <td style="FONT-FAMILY: Verdana" width="100%" bgColor="#cccccc" height="30"><%= @multiresimage.pid %></td>
					  </tr>
			   </tbody>
			</table>
