    <h2 class="section-title">Description</h2>
    <%= form_for @multiresimage, :html=>{:class=>'form-horizontal reorderable'} do |f|%>
      <div>
        PID: <%= @multiresimage.id %>
      </div>
      <br/>
    
      <% vraSetArray = ["agent", "title", "culturalContext", "date", "subject", "location", "material", "measurements", "stylePeriod", "inscription", "description", "worktype"] %>
		
	  <% vraSetArray.each do |vraSetName| %>
	  <% vraSetNameCamelUpper = vraSetName[0].upcase + vraSetName[1..-1]%>
  
      <div class="control-group">
        <%= f.label "#{vraSetName}", :class=>"control-label" %>
        <div class="controls" id="#{vraSetName}Set">
          <%= f.hidden_field (vraSetName+"Set_display").to_sym, :name=>"multiresimage[#{vraSetName}Set_display]", :id=>"multiresimage_#{vraSetName}Set_value", :class=>'span6'%>
          <% if  @multiresimage.send((vraSetName + "Set_display").to_sym).present?%>
            <% displays =  @multiresimage.send((vraSetName + "Set_display").to_sym).split(";") %>  
            <% displays.each_with_index do |display,index| %>
              <% display.strip! %>
              <%= text_field_tag "multiresimage_#{vraSetName}Set_display_#{index}", display, :class=>'span6'%>
              <%= f.submit :-, :type=>"button", :id=>"multiresimage_delete_#{vraSetName}Set_display_#{index}" %>
            <% end %>
          <%end%>
          <%= f.submit :+, :type=>"button", :id=>"add#{vraSetNameCamelUpper}",  :class=>'addFieldBtn' %>
        </div>
      </div>
      
      <%end%>
         
      <div class="form-actions force-bottom">
        <%# the submit button has to be the first button on the page, so that pressing enter submits the form correctly %>
        <%= f.submit "Save changes", :class=>'btn btn-primary'%>
      </div>
      
      <fieldset class="permissions">
        <legend>Permissions</legend>
        <%#=render :partial=>'shared/select_policy', :locals=>{:f=>f, :blank_label=>'Default Policy &mdash; Private to Owner'.html_safe} %>
<!--        <p id="object-permissions-heading">Also grant access to:</p> -->
        <%= render :partial=>'shared/edit_groups_and_users', :locals=>{:fedora_object=>@multiresimage, :field=>:permissions} %>
      </fieldset>
      
    <%end%>

