<%
=begin %><form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"multiresimage")%>" method="post" data-resourceType="multiresimage" accept-charset="utf-8">
      <div id="container">       

  <fieldset id="title_fields">
    <legend>Title</legend>
    <input id="content_type" type="hidden" name="content_type" value="multiresimage" />
    <dl>
      <dd class="title">
        <%= @multiresimage.titleSet_display%>
      </dd>
    </dl>
  </fieldset>

 <fieldset id="title_fields">
    <legend>Agent</legend>
    <dl>
      <dd class="title">
        <%#= fedora_text_field(@document_fedora,"VRA", [:vra_image, :agent_set, :display_agent], :multiple=>false) %>
      </dd>
    </dl>
  </fieldset>

 <fieldset id="material_fields">
    <legend>Materials</legend>
    <dl>
      <dd class="title">
        <%#= fedora_text_field(@document_fedora,"VRA", [:vra_image, :material_set, :material], :multiple=>true) %>
      </dd>
    </dl>
  </fieldset>


</form>
<%
=end %>
<%= form_for @multiresimage do |f|%>
  <div>
    PID: <%= @multiresimage.id %>
  </div>
  <br/>
  <div>
    <%= f.label :titleSet_display %>:
    <%= f.text_field :titleSet_display %>
  </div>
  <br/>
  <div>
    <%= f.label :agentSet_display %>:
    <%= f.text_field :agentSet_display %>
  </div>
  <br/>
  <div>
    <%= f.label :dateSet_display %>:
    <%= f.text_field :dateSet_display %>
  </div>
  <br/>  <div>
    <%= f.label :descriptionSet_display %>:
    <%= f.text_field :descriptionSet_display %>
  </div>
  <br/>  <div>
    <%= f.label :subjectSet_display %>:
    <%= f.text_field :subjectSet_display %>
  </div>
  <br/>  <%= f.submit "Save changes"%>
<%end%>
