<div class="listing">
  <div id="images">
    <ul>
     <% if !document[:id].nil? %>
       <li pid="<%=document[:id]%>" title="<%=document[:title_t]%>"><img src="<%= DIL_CONFIG['dil_app_url']%>multiresimages/get_image/<%= document[:id]%>"/>	
      <% end %>
     </li>
   </ul>
  </div>
  <a href="/multiresimages/<%=document[:id]%>">
    <%= document[:title_display].nil?  ? document[:id] : document[:title_display].truncate(50) %>
  </a>
  <%= batch_edit_select(document) %>
</div>

