
<tr class="document" class="<%= cycle("even","odd") %>">
  <!-- Each image is a JQuery UI draggable -->
  <td>
    <div id="images">
      <div>
        <ul>
			<li pid="<%=document[:id]%>" title="<%=document[:id]%>"><img src="http://<%= request.host %>:8983/fedora/get/<%= document[:id] %>/inu:sdef-image/getWithLongSide?length=100"/>
          <br/>
         	<% if document[:title_t].nil? %>
         	   <a href="/multiresimages/<%=document[:id]%>/edit"><%=document[:id]%></a>
				<%#= link_to_document(document, :label => document[:id], :counter => (counter + 1 + @response.params[:start].to_i)) %>
			<% else %>
			    <a href="/multiresimages/<%=document[:id]%>/edit"><%=document[:title_t]%></a>
          	
				<%#= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %>
          	<% end %>
          </li>
       </ul>
   </div>

  </td> 
  <td><%= document[:title_t] %></td>
  

<td>
    <%= DateTime.parse(document[:system_create_dt]).to_time %>
  </td>
  <td>
    <%#= document[:medium_t] %>
  </td>
  <td></td>
  <td></td>

</tr>
