<div class="listing">
  <div id="images">
    <ul>
     <% if !document[:id].nil? %>
       <li pid="<%=document[:id]%>" title="<%=document[:title_t]%>"><a href="/multiresimages/<%=document[:id]%>"><img src="<%= DIL_CONFIG['dil_app_url']%>multiresimages/get_image/<%= document[:id]%>/120"/></a>
      <% end %>
     </li>
   </ul>
  </div>
  <a href="/multiresimages/<%=document[:id]%>">
    <%= document[:title_display].nil?  ? document[:id] : document[:title_display].truncate(50) %>
  </a>
  
  <!-- Display the checkbox for batch-select -->
  <!-- If checked in the session, show as checked -->
  
  <% if session[:batch_select_ids].present? and session[:batch_select_ids].include? ("#{document[:id]}")  %>
    <%= check_box_tag "batch_select_#{document[:id]}", "1", "checked" %>
  <% else %>
    <%= check_box_tag "batch_select_#{document[:id]}", "0" %>
  <% end %>

  <%#= batch_edit_select(document) %>
</div>

