<div class="listing">
  <div id="images">
    <ul>
     <% if !document[:id].nil? %>
       <li pid="<%=document[:id]%>" title="<%=document[:title_t]%>"><img src="http://<%= request.host %>:8983/fedora/get/<%= document[:id] %>/inu:sdef-image/getWithLongSide?length=100"/>	
      <% end %>
     </li>
   </ul>
  </div>
  <a href="/multiresimages/<%=document[:id]%>">
    <%= document[:title_display].nil?  ? document[:id] : document[:title_display].truncate(50) %>
  </a>
  <%= render :partial=>'/batch_updates/add_button', :locals=>{:document=>document} %>
</div>

