<%= form_for @multiresimage do |f|%>
  <div>
    PID: <%= @multiresimage.id %>
  </div>
  <br/>
  <div>
    <%= f.label :titleset_display %>
    <%= f.text_field :titleset_display %>
  </div>
  <br/>
  <div>
    Image: <img src="http://localhost:8983/fedora/get/<%= @multiresimage.id %>/inu:sdef-image/getWithLongSide?length=100"/></p>
  </div>
  <br/>
  <%= f.submit "Save changes"%>
<%end%>
