<% sidebar_items << capture do %>
  <%= render :partial=>'shared/menu' %>
<% end %>
		
		<script type="text/javascript">
			$(document).ready(function()
			{
				CropTool.initialize("<%= params[:id] %>", true, $("#crop-tool"));
			});
		</script>

<!-- crop tool above -->
	<div id="crop-tool" style="background-color:#000000; width:100%; height: 500px; border: thin solid blue;">
    <div id="metadata" style="display:none">
      <div id="crop-details"></div>
    </div>
    <div id="collection"  style="display:none">
      <div id="crop-list">
        <ul id="sortable">

        </ul>
      </div>
    </div>
  </div>      

  <div id="accordion">
    <h2 class="section-title"><a href="#">Description</a></h2>
    <%= form_for @multiresimage do |f|%>
      <div>
        PID: <%= @multiresimage.id %>
      </div>
      <div class="control-group">
        <%= f.label :titleSet_display, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :titleSet_display, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :agentSet_display, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :agentSet_display, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :dateSet_display, :class=>"control-label" %>
        <div class="controls">
        <%= f.text_field :dateSet_display, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :descriptionSet_display, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :descriptionSet_display, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :subjectSet_display, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :subjectSet_display, :class=>'span6' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :read_groups, :class=>"control-label" %>
        <div class="controls">
          <%= f.select :read_groups, current_user.owned_groups.map{|x| [x.name, x.code]}, {}, :multiple=>true %>
        </div>
      </div>
      
      <div class="form-actions">
        <%= f.submit "Save changes", :class=>'btn btn-primary'%>
      </div>
    <%end%>
  </div>

