<%=render :partial=>'breadcrumb' %>

<%= render :partial=>'/shared/page_header' %>

<br />
<%= render :partial=>'downloads' %>
<%= render :partial => 'multiresimages/crop' %>
<%= render :partial => 'multiresimages/photostream' %>
<%= render :partial => 'multiresimages/show_description' %>
<div class="modal-collection"></div>


