<% sidebar_items << capture do %>
  <%= render :partial=>'shared/back_to_previous' %>
<% end %>
<%=render :partial=>'breadcrumb' %>
<% if can?(:edit, @multiresimage) %>
  <div id="browselinks">
    <span class="inactive browse">Browse</span> |
    <%= link_to "Edit", edit_multiresimage_path(@multiresimage), :class=>'active edit' %>
  </div>
<% end %>

<%= render :partial=>'/shared/page_header' %>

<br />
<%= render :partial=>'downloads' %>
<%= render :partial => 'multiresimages/crop' %>
<%= render :partial => 'multiresimages/photostream' %>
<%= render :partial => 'multiresimages/show_description' %>
<div class="modal-collection"></div>


