<h4>Users with Access</h4>
<% obj = fedora_object.class.to_s.underscore%>
<% users_for_field(fedora_object, field).each do |permission| %>
    <div class="control-group"> 
      <%= label_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <% if field != :permissions || current_user.user_key != permission[:name] %>
        <%# don't let the current user remove their own permissions %>
        <div class="controls">
          <%= select_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'span2' if permission[:name].upcase == 'PUBLIC'%>
          <%= select_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'span2' unless permission[:name].upcase == 'PUBLIC' %>
          <%= submit_tag "Remove", 'data-behavior'=>remove_behavior(fedora_object), :class=>'hidden btn' %>
        </div>
      <% end %>
    </div> 
<% end %>

    <script type="text/x-tmpl" id="tmpl-<%= field %>-user">
      <div class="control-group">
        <label class="control-label">{%=o.record_name%}</label>
        <div class="controls">
          <select class="span2" id="admin_policy_<%=field %>_user_{%=o.record_name %}" name="admin_policy[<%=field %>][user][{%=o.record_name%}]">
            <option value="none">No Access</option>
            <option value="discover">Discover</option>
            <option value="read">View</option>
            <option value="edit">Edit</option>
          </select>
          <input class="btn" data-behavior="<%=remove_behavior(fedora_object)%>" name="commit" type="submit" value="Remove">
        </div>
      </div>
    </script>



<div class="control-group" id="new-user"> 
  <%= label_tag "#{obj}[#{field}][new_user_name]", "Add User", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag "#{obj}[#{field}][new_user_name]" %>
    <%= select_tag "#{obj}[#{field}][new_user_permission]", options_for_select(DIL::Application::config.permission_levels), :class=>'span2' %>
    <%= submit_tag "Add", 'data-behavior'=>add_behavior(fedora_object), 'data-name'=>"#{obj}_#{field}_new_user_name", 'data-value'=>"#{obj}_#{field}_new_user_permission", 'data-template'=>"tmpl-#{field}-user", :class=>'hidden btn' %>
  </div>
</div>

<h4>Groups with Access</h4>
<% groups_for_field(fedora_object, field).each do |permission| %>
    <div class="control-group"> 
      <%= label_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <div class="controls">
        <%= select_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'span2' if permission[:name].upcase == 'PUBLIC'%>
        <%= select_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'span2' unless permission[:name].upcase == 'PUBLIC' %>
        <%= submit_tag "Remove", 'data-behavior'=>remove_behavior(fedora_object), :class=>'hidden btn' %>
      </div>
    </div> 
<% end %>
    <script type="text/x-tmpl" id="tmpl-<%= field %>-group">
      <div class="control-group">
        <label class="control-label">{%=o.record_name%}</label>
        <div class="controls">
          <select class="span2" id="admin_policy_<%=field %>_group_{%=o.record_name %}" name="admin_policy[<%=field %>][group][{%=o.record_name%}]">
            <option value="none">No Access</option>
            <option value="discover">Discover</option>
            <option value="read">View</option>
            <option value="edit">Edit</option>
          </select>
          <input class="btn" data-behavior="<%=remove_behavior(fedora_object)%>" name="commit" type="submit" value="Remove">
        </div>
      </div>
    </script>

<div class="control-group" id="new-group"> 
  <%= label_tag "#{obj}[#{field}][new_group_name]", "Add Group", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag "#{obj}[#{field}][new_group_name]" %>
    <%= select_tag "#{obj}[#{field}][new_group_permission]", options_for_select(DIL::Application::config.permission_levels), :class=>'span2' %>
    <%= submit_tag "Add", 'data-behavior'=>add_behavior(fedora_object), 'data-name'=>"#{obj}_#{field}_new_group_name", 'data-value'=>"#{obj}_#{field}_new_group_permission", 'data-template'=>"tmpl-#{field}-group", :class=>'hidden btn' %>
  </div>
</div>



