<% if user_signed_in? %>
  <nav>
    <ul>
      <li><%= link_to_unless_current "Search", catalog_index_path %></li>
<!--      <li><%= link_to_unless_current "Collections", dil_collections_path %></li> -->
      <li><%= link_to_unless_current "Upload Images", uploads_path %></li>
	 <% current_user.get_uploads_collection.each do |collection| %>
       <li><%= link_to_unless_current collection['title_t'].first, "/dil_collections/#{collection['id']}" %></li>
     <% end %>
     <% current_user.get_details_collection.each do |collection| %>
       <li><%= link_to_unless_current collection['title_t'].first, "/dil_collections/#{collection['id']}" %></li>
     <% end %>
       <!--<li><%#= link_to_unless_current "User Groups", groups_path %></li>-->
<!--      <li><%#= link_to_unless_current "Admin Policies", policies_path %></li> -->
    </ul>
  </nav>
<% end %>
