<h2>Users &amp; Groups with Access</h2>
<% fedora_object.permissions.each do |permission| %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      </div>
    </div> 
<% end %>

<h2>Grant Access For</h2>
  <div class="control-group" id="new-group"> 
    <%= label_tag 'multiresimage[permissions][new_group_name]', "Group", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'multiresimage[permissions][new_group_name]' %>
      <%= select_tag 'multiresimage[permissions][new_group_permission]', options_for_select(DIL::Application::config.permission_levels) %>
    </div>
  </div>

  <div class="control-group" id="new-user"> 
    <%= label_tag 'multiresimage[permissions][new_user_name]', "User", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'multiresimage[permissions][new_user_name]' %>
      <%= select_tag 'multiresimage[permissions][new_user_permission]', options_for_select(DIL::Application::config.permission_levels) %>
    </div>
  </div>
