<h2>Users with Access</h2>
<% permissions_users(fedora_object).each do |permission| %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      </div>
    </div> 
<% end %>

<div class="control-group" id="new-user"> 
  <%= label_tag 'multiresimage[permissions][new_user_name]', "Add User", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag 'multiresimage[permissions][new_user_name]' %>
    <%= select_tag 'multiresimage[permissions][new_user_permission]', options_for_select(DIL::Application::config.permission_levels) %>
  </div>
</div>

<h2>Groups with Access</h2>
<% permissions_groups(fedora_object).each do |permission| %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "multiresimage[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      </div>
    </div> 
<% end %>

<div class="control-group" id="new-group"> 
  <%= label_tag 'multiresimage[permissions][new_group_name]', "Add Group", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag 'multiresimage[permissions][new_group_name]' %>
    <%= select_tag 'multiresimage[permissions][new_group_permission]', options_for_select(DIL::Application::config.permission_levels) %>
  </div>
</div>


