<div id="search" class="search">
  <%= form_tag catalog_index_path, :method => :get, :class=>'form-search form-inline' do %>
    <%= text_field_tag :q, params[:q], :class => "q search-query", :placeholder => "Enter search terms..." %>
    <%= hidden_field_tag(:search_field, 'all_fields') %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>        
    
    <%= submit_tag 'Submit', :class=>'submit btn btn-primary' %>
  <% end %>

  <hr/>
</div>
