<!--
LDAP Authentication:

<% if user_signed_in? %>
    Welcome <%= current_user.email %> (<%= link_to "logout", destroy_user_session_path,  :method => :delete %>)
<% else %>
    <%= link_to "sign in with LDAP", user_omniauth_authorize_path(:ldap) %>
<% end %>

<hr>
-->
<!--<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :uid, 'Username' %><br />
  <%= f.text_field :uid %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>-->

<div class="sign-in">
	<div class="signin-box">
  		<h2>Sign in with a NetID</h2>
		<hr>
		<%= form_for(resource, :id=>'loginform', :as => resource_name, :url => '/users/auth/ldap/callback', :noValidate=>'') do |f| %>
			<div class="email-div">
				<label for='username'><strong class="email-label">Username</strong></label>
				<input type='text' id='username' name='username'/>
			</div>
			<div class="passwd-div">
				<label for='password'><strong class="passwd-label">Password</strong></label>
				<input type='password' id='password' name='password'/>
			</div>
			<%= f.submit "Sign in", :name=>'signIn', :id=>'signIn' %>
			<% if devise_mapping.rememberable? -%>
			<label class="remember" onclick="">
				<%= f.check_box :remember_me %>
				<strong class="remember-label">
					Remember me
				</strong>
			</label>
			<% end -%>
		<% end %>
		<ul>
			<li>
				<a href="https://validate.it.northwestern.edu/idm/user/login.jsp" target="_blank">Forgot your password?</a>
				<%#= render :partial => "devise/shared/links" %>
			</li>
		</ul>
	</div>
</div>
