<h4>Add Images to Collection <%=@collection.collection_title_formatter %></h4>
<form class="search-query-form clearfix" method="get" action="<%=confirm_add_images_institutional_collection_path(@collection_id)%>" accept-charset="UTF-8">
  <div class="input-group search-input-group">
    <input type="hidden" name="pid_list[]" value="<%=session[:pid_list]%>" />
    <span class="input-group-btn">
      <button id="search" class="btn btn-primary" type="submit">
        <span class="submit-search-text">Confirm Add Images to Collection</span>
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</form>

<p><%= "Total search results: #{search_session[:total]}" %></p>
<%= render :partial => "paginate_compact", :object => @response if show_pagination? %>

<table class='table table-striped'>
  <tbody>
    <tr>
      <th>Thumbnail</th>
      <th>pid<br />Title</th>
      <th>Location</th>
    </tr>
    <% @document_list.each do |document| %>
      <% if !document[:id].nil? %>
        <tr>
          <td><a href="/multiresimages/<%=document[:id]%>">
          <%= image_tag(Riiif::Engine.routes.url_helpers.image_path("#{document[:id]}".gsub!(/:/, '-'), size: ',50')) %></td>
          <td><%=document[:id] %><br /><%=document[:title_display_tesim].first%></td>
          <td><small><%=document[:location_display_tesim].first%></small></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
