  <% sidebar_items << capture do %>
    <%= render :partial=>'shared/back_to_previous' %>
  <% end %>
  
<!--   <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h3>Please note:</h3>
    <p>Uploads will not be saved until you hit the "Submit Your Upload" button in Step Four.</p>
  </div> -->

  <h3>Step 1: <span class="muted">Add Your Files and Start Your Upload</span></h3><br/>
  <%= render :partial=>'multiupload' %>
  <br/>
  <br/>
  <h3>Step 2: <span class="muted">Add Description to All Images (optional)</span></h3>
  <br/>
  <br/>
  <span class="btn fileinput-button" id="button_id"><i class="icon-plus"></i><span> Add description</span></span>
  <br/>
  <br/>
  <%= form_tag(enqueue_uploads_path, :method => "post", :class => "form-horizontal reorderable") do |f|%>  
    <%= render :partial=>'batch_form_fields' %>
  <br/>
  <h3>Step 3: <span class="muted">Agree to Terms and Conditions</span></h3>
  <br/>
  <%= render :partial=>'terms_and_conditions' %>
  <br/>
  <br/>
  <br/>
  <h3>Step 4:</h3>
  <br/>
  <%= submit_tag "Submit Your Upload", :class=>"btn btn-primary", :id=>"process_uploads", :disabled=>'true'%> 
<%end%>

<script>

// bind the click to all headers
 $(document).ready(function() {
	
	$('#hide_me').hide();

	$("#button_id").click(function() {

    // get the li that this header belongs to
    // check to see if this li is not already being displayed
    if (!$('#hide_me').is(':visible'))
    {
        // loop on all the li elements
            // slide up the element and set it's marker to '+' 
        $('#hide_me').slideDown(200);
        $('#button_id').text('- Add Description');

    } else {
        $('#hide_me').slideUp(200);
        $('#button_id').text('+ Add Description');  
    }
    })
    
    $("#depositors_agreement").click(function(){
      
      if ($(this).is(':checked')){
        $("#process_uploads").attr("disabled", false);
      }
      
      else {
        $("#process_uploads").attr("disabled", true);
      }
      
    })
});
</script>

