<%
the_logo = "repository-images.png"
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
	</head>
  
  <body class="<%= render_body_class %>">
    
    <div class="wrapper">

  		<div id="hd">
  			<div id="top-menu"><%= render :partial => '/user_util_links' %></div>
  			<div id="logo"><%= link_to(image_tag('site/' + the_logo, :alt => "Northwestern University Library logo"), "/", :title=>"Return Home", :class=>"logo") %></div>
  			<%= render :partial=>'shared/menu' %>
  			<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %>
  		</div>
  	    
      <div id="bd">
        <div id="main">
          <div id="main_container">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar"><%= sidebar_items.join().html_safe %></div>	
  	  </div>

      <div class="push"></div>

    </div><!-- end .wrapper -->
	    
	    
		<div id="ft">
      <div class="contact_info"></div> 
        <div class="aux_links"> </div>
      <div id="footer_notices">
          <div id="footer_logo" class="pull-left"><%= image_tag('site/NU_Logo_white.png', :height => 120, :alt => "Northwestern University logo") %></div>
        <div id="bottom_text" class="pull-left">
          <p>
          For more information contact <a href="http://www.library.northwestern.edu/about/library-administration/departments-offices/digital-collections">Digital Collections</a>
        </p>

            <p> 
              <a href="http://www.library.northwestern.edu/">Northwestern University Library</a>; 1970 Campus Drive; Evanston, IL 60208-2300
            </p>

            <p>
              Phone: 847-467-1080;
              Fax: 847-491-8306;
              E-mail: <a href="mailto:digitalcollections@northwestern.edu">digitalcollections@northwestern.edu</a>
            </p>

            <p>
              <a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a> and
              <a href="http://policies.northwestern.edu/">University Policy Statements</a>
              &copy; 2012 Northwestern University
            </p>
        </div>
      </div>
		</div>
		
  </body>

</html>
