<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag ('favicon.ico') %>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>

    <div class="wrapper">

      <%= render :partial => 'shared/header_navbar' %>

      <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

      <div id="main-container" class="container">
        <!-- Top bar -->
        <div id="search-found" class="row hidden-phone">
          <%#= topbar_items.join('').html_safe %>
        </div>
        <!-- /Top bar -->

        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="push"></div>
    </div><!-- end .wrapper -->

    <%= render :partial => 'shared/footer' %>

  </body>
</html>
