<div class="page-header">
  <h1><%=@page_title %></h1>
</div>
<%= form_for @policy, :url=>@policy.new_record? ? policies_path : policy_path(@policy.pid), :html=>{:class=>'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label :title, 'Policy Name', :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>        
  <div class="control-group">
    <%= f.label :description, 'Description', :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :description,  :rows=>10, :class=>'input-xlarge' %>
    </div>
  </div>        
  <div class="control-group">
    <%= f.label :license_title, 'License Name', :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :license_title %>
    </div>
  </div>        
  <div class="control-group">
    <%= f.label :license_description, 'License Description', :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :license_description, :rows=>10, :class=>'input-xlarge' %>

    </div>
  </div>        
  <div class="control-group">
    <%= f.label :license_url, 'License URL', :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :license_url %>
    </div>
  </div>        
  <fieldset class="permissions">
    <legend>Provides these Permissions</legend>
    <%=render :partial=>'provides', :locals=>{:fedora_object=>@policy, :field=>:defaultPermissions} %>
  </fieldset>
  <fieldset class="maintainers">
    <legend>Policy Maintainers</legend>
    <%=render :partial=>'provides', :locals=>{:fedora_object=>@policy, :field=>:permissions} %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit :class=>'btn btn-primary'%>
  </div>
<% end %>

