<h4>Users</h4>
<% obj = fedora_object.class.to_s.underscore%>
<table class="table table-bordered table-striped permissions-table">
  <thead>
    <tr>
      <th>Name</th><th></th>
    </tr>
  </thead>
  <tbody>
    <% users_for_field(@policy, field, access).each do |permission| %>
        <tr data-behavior="access-entry"> 
          <td>
          <%= label_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
          </td>
          <td>
          <% if field != :permissions || current_user.user_key != permission[:name] %>
            <%# don't let the current user remove their own permissions %>
              <%= hidden_field_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", access %>
              <%= submit_tag "Remove", 'data-behavior'=>remove_behavior(@policy), :class=>'hidden btn' %>
          <% end %>
          </td>
        </tr> 
    <% end %>

    <tr data-behavior="access-entry"> 
      <td>
        <%= text_field_tag "#{obj}[#{field}][new_#{access}_user_name]", '', :placeholder=>'Add a User' %>
      </td>
      <td>
        <%= hidden_field_tag "#{obj}[#{field}][new_#{access}_user_permission]", access %>
        <%= submit_tag "Add", 'data-behavior'=>add_behavior(@policy), 'data-name'=>"#{obj}_#{field}_new_#{access}_user_name", 'data-value'=>"#{obj}_#{field}_new_#{access}_user_permission",  'data-template'=>"tmpl-#{field}-user-#{access}", :class=>'hidden btn' %>
      </td>
    </tr>
  </tbody>
</table>
        <script type="text/x-tmpl" id="tmpl-<%= field %>-user-<%= access %>">
          <tr data-behavior="access-entry"> 
            <td>
              <label class="control-label">{%=o.record_name%}</label>
            </td>
            <td>
              <input id="admin_policy_<%=field %>_user_{%=o.record_name %}" type="hidden" value="<%=access %>" name="admin_policy[<%=field %>][user][{%=o.record_name%}]">
              <input class="btn" data-behavior="<%=remove_behavior(@policy)%>" name="commit" type="submit" value="Remove">
            </td>
          </tr>
        </script>

<h4>Groups</h4>
<table class="table table-bordered table-striped permissions-table">
  <thead>
    <tr>
      <th>Name</th><th></th>
    </tr>
  </thead>
  <tbody>
  <% groups_for_field(@policy, field, access).each do |permission| %>
      <tr data-behavior="access-entry"> 
        <td>
          <%= label_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
        </td>
        <td>
          <%= hidden_field_tag "#{obj}[#{field}][#{permission[:type]}][#{permission[:name]}]", access %>
          <%= submit_tag "Remove", 'data-behavior'=>remove_behavior(@policy), :class=>'hidden btn' %>
        </td>
      </tr> 
  <% end %>
    <tr data-behavior="access-entry"> 
      <td>
        <%= text_field_tag "#{obj}[#{field}][new_#{access}_group_name]", '', :placeholder=>"Add a Group" %>
      </td>
      <td>
        <%= hidden_field_tag "#{obj}[#{field}][new_#{access}_group_permission]", access %>
        <%= submit_tag "Add", 'data-behavior'=>add_behavior(@policy), 'data-name'=>"#{obj}_#{field}_new_#{access}_group_name", 'data-value'=>"#{obj}_#{field}_new_#{access}_group_permission", 'data-template'=>"tmpl-#{field}-group-#{access}", :class=>'hidden btn' %>
      </td>
    </tr>
  </tbody>
</table>
    <script type="text/x-tmpl" id="tmpl-<%= field %>-group-<%= access %>">
      <tr data-behavior="access-entry"> 
        <td>
        <label class="control-label">{%=o.record_name%}</label>
        </td>
        <td>
          <input id="admin_policy_<%=field %>_group_{%=o.record_name %}" type="hidden" value="<%=access %>" name="admin_policy[<%=field %>][group][{%=o.record_name%}]">
          <input class="btn" data-behavior="<%=remove_behavior(@policy)%>" name="commit" type="submit" value="Remove">
        </td>
      </tr>
    </script>





