<h4>Users with Access</h4>
<% obj = fedora_object.class.to_s.underscore%>
<% permissions_users(@policy).each do |permission| %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      </div>
    </div> 
<% end %>

<div class="control-group" id="new-user"> 
  <%= label_tag "#{obj}[permissions][new_user_name]", "Add User", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag "#{obj}[permissions][new_user_name]" %>
    <%= select_tag "#{obj}[permissions][new_user_permission]", options_for_select(DIL::Application::config.permission_levels) %>
  </div>
</div>

<h4>Groups with Access</h4>
<% permissions_groups(@policy).each do |permission| %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "#{obj}[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(DIL::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      </div>
    </div> 
<% end %>

<div class="control-group" id="new-group"> 
  <%= label_tag "#{obj}[permissions][new_group_name]", "Add Group", :class=>"control-label" %>
  <div class="controls">
    <%= text_field_tag "#{obj}[permissions][new_group_name]" %>
    <%= select_tag "#{obj}[permissions][new_group_permission]", options_for_select(DIL::Application::config.permission_levels) %>
  </div>
</div>



